@import "../config/colors";
@import "../config/fonts";

.Header-header {
  background-color: $navbar;
  box-shadow: 0px 1px 16px black;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  color: $fontcolor;
  height: 6rem;
  padding: 0 2rem;
}

.Header-title {
  font-size: 2rem;
  font-weight: 400;
  color: $maintitle;
  border: none;
  background-color: transparent;

  .bold {
    font-weight: 700;
  }
}

.Header-title:hover {
  text-shadow:
    0 0 4px #fff;
  transition: all 0.3s ease-out;
}

.Header-navbar-icons {
  width: 2rem;
  fill: white ;
}