@import "../config/colors";
@import "../config/fonts";

* {
  font-family: $fonte;
  margin: 0;
}

.DogDetailsPage {
  background-color: $backgroundcolor;
}

.DogDetailsPage-header {
  background-color: $navbar;
  box-shadow: 0px 1px 16px black;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  color: $fontcolor;
  height: 6rem;
  padding: 0 2rem;
}

.DogDetailsPage-title {
  font-size: 2rem;
  font-weight: 400;
  color: $maintitle;

  .bold {
    font-weight: 700;
  }

}

.DogDetailsPage-navbar-icons {
  width: 2rem;
  fill: white ;
}

.DogDetailsPage-body {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
  align-items: center;
  gap: 1rem;
}

.DogDetailsPage-body-title {
  font-size: 2rem;
  font-weight: 500;
  color: $fontcolor;
}

.arrow {
  width: 1.25rem !important;
}
.DogDetailsPage-link {
  color: #61dafb;
}