@import "../config/colors";
@import "../config/fonts";

* {
  font-family: $fonte;
  margin: 0;
}

.DogDetailsPage-body {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
  align-items: center;
  gap: 1rem;
}

.DogDetailsPage-body-title {
  font-size: 2rem;
  font-weight: 500;
  color: $fontcolor;
}